body {
    background: url('/assets/img/pexels-ivan-babydov-7787959.jpg') rgba(0,0,0,0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar-icon {
  background: none;
  display: inline;
}

   @media(max-width: 991px){
    .sidebar {
        background-color: rgba(255,255,255,0.15);
        backdrop-filter: blur(10px);
    }
   }
   
/* Jumbotron  */
.rockBackground {
  background-image: url("");
  background-image: cover;
  background-repeat: no-repeat;
  height: calc(50vh - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Jumbotron copy */
.jumboCopy {
  width: 70%;
  min-width: 500px;
  max-width: 700px;
  color: rgb(66, 62, 62);
  text-align: center;
}

