body {
    background: url("/assets/img/pexels-ivan-babydov-7787959.jpg") rgba(0,0,0,0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar-icon {
  background: none;
  display: inline;
}

   @media(max-width: 991px){
    .sidebar {
        background-color: rgba(255,255,255,0.15);
        backdrop-filter: blur(10px);
    }
   }
   
/* Jumbotron  */
.rockBackground {
  background-image: url("/assets/img/pexels-phil-desforges-3335697.jpg");
  border: 5px solid whitesmoke;
  background-image: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* Jumbotron copy */
.jumboCopy {
  width: 70%;
  min-width: 800px;
  max-width: 1000px;
  color: whitesmoke;
  text-align: center;
}
.h1 {
  display: flex;
  text-align: left;
}



