body {
    background: url("../img/ko.jpg") rgba(0,0,0,0.3);
    height: min-content
    ;
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar-icon {
  background: none;
  display: inline;

}

   @media(max-width: 991px){
    .sidebar {
        background-color: rgba(255,255,255,0.15);
        backdrop-filter: blur(10px);
    }
   }
   
/* Jumbotron  */
.rockBackground {
  background-image: url("../img/black.jpg");
  border: 5px solid whitesmoke;
  background-image: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p col {
  margin-top: 30px;
  margin-bottom: 30px;
}

h3 {
  margin-top: 30px;
}


/* Jumbotron copy */
.jumboCopy {
  width: 70%;
  min-width: 800px;
  max-width: 1000px;
  color: whitesmoke;
  text-align: center;
}
.card-container flex {
  padding: 10px;
  margin: 20px;
}

.footerContainer {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

footer {
  background-color: #111;
}

.footerContainer {
  width: 100%;
  padding: 70px 30px 20px;
}

.socialicons {
  display: flex;
  justify-content: center;
}
.socialicons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialicons a {
  font-size: 2em;
  color: black;
  opacity: 0.9;
}

/* Hover Effect on Social Media Icons */
.socialicons a:hover {
  background-color: whitesmoke;
  transition: 0.5s;
}

.socialicons a:hover i{
  background-color: green;
  transition: 0.5s;
}

.footerNav {
  margin: 30px 0;
}

.footerNav ul {
display: flex;
justify-content: center;
list-style-type: none;
}

.footerNav ul li a {
  color: rgb(34, 30, 30);
  margin: 20px;
  text-decoration: none;
  font-size: 1.3rem;
  opacity: 0.7;
  transition: 0.5s;
}
.footerNav ul li a:hover {
  opacity: 1;
}
.footerBottom {
  background-color: #111;
  padding: 20px;
  text-align: center;
}
.footerBottom p {
  color: white;
}
.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
@media (max-width: 700px) {
  .footerNav ul {
    flex-direction: column;
  }
  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}